{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block contents %}
<div class="container">
    <table class="table table-info table-striped">
        <tr>
            <th>Data Type</th>
            <th>Pass By Value</th>
            <th>Pass By Reference</th>
        </tr>
        <tr>
            <th>Integers</th>
            <td>Yes</td>
            <td>No</td>
        </tr>
        <tr>
            <th>Floats</th>
            <td>Yes</td>
            <td>No</td>
        </tr>
        <tr>
            <th>Booleans</th>
            <td>No</td>
            <td>Yes</td>
        </tr>
        <tr>
            <th>Lists</th>
            <td>No</td>
            <td>Yes</td>
        </tr>
        <tr>
            <th>Dictionaries</th>
            <td>No</td>
            <td>Yes</td>
        </tr>
        <tr>
            <th>Tuples</th>
            <td>Yes</td>
            <td>No</td>
        </tr>
        <tr>
            <th>Strings</th>
            <td>Yes</td>
            <td>No</td>
        </tr>

    </table>
</div>


{% endblock contents %}